.pending-payment-main-container {
  background-image: url("../assets/images/confirmRequest_bg.png");
  background-size: cover;
  height: 110vh;
}

.pending-payment {
  margin-left: 40px;
}

.order-details-modal p,
h4,
ul {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.order-details-modal {
  max-width: 60%;
}

.order-details-modal h4 {
  font-family: "Poppins-Medium";
}

.order-details-modal button {
  padding: 0;
  height: 40px;
  width: 200px;
  margin: 10px 10px 20px 0;
}

.order-details-modal h3,
label {
  font-size: 16px;
  margin: 20px 0 5px 0;
  color: #005b96;
  font-weight: bold;
}

.decline-btn {
  border: 2px solid #e72929;
  background-color: #e72929;
}

.decline-btn:hover {
  color: #e72929;
}

.accept-button {
  background-color: #06d001;
  border: 2px solid #06d001;
}

.accept-button:hover {
  color: #06d001;
}

.inactive-button {
  background-color: #d3d3d3;
  color: #fff;
  cursor: not-allowed;
  pointer-events: none;
  border: none;
}

.pending-payment-table th {
  text-align: start;
}

.pending-payment-table {
  width: 60%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.pending-payment-table td {
  height: 60px;
  color: #fff;
}

.pending-payment-table th,
.pending-payment-table td {
  border: none;
  padding-left: 20px;
  text-align: left;
}

/* Background color for all rows */
.pending-payment-table tr {
  background-color: #025a97;
  border-radius: 20px;
}

/* Styling for table headings */
.pending-payment-table th {
  background-color: #fff;
  font-weight: bold;
}

/* Apply border-radius to individual cells for visual rounded row effect */
.pending-payment-table tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pending-payment-table tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Center align for the clickable arrow */
.pending-payment-table td:last-child {
  cursor: pointer;
  text-align: center;
}

.pending-payment-table td:last-child:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.pending-confirmation-table {
  width: 60%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.pending-confirmation-table td {
  height: 60px;
  color: #fff;
}

.pending-confirmation-table th,
.pending-confirmation-table td {
  border: none;
  padding-left: 20px;
  text-align: left;
}

/* Background color for all rows */
.pending-confirmation-table tr {
  background-color: #025a97;
  border-radius: 20px;
  opacity: 0.5;
}

/* Styling for table headings */
.pending-confirmation-table th {
  background-color: #fff;
  font-weight: bold;
}

.pending-confirmation-table tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pending-confirmation-table tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pending-confirmation-table th {
  text-align: start;
}

.toBeConfirm-text {
  margin: 50px 0 0 0;
  opacity: 0.5;
}

@media (max-width: 1100px) {
  .pending-confirmation-table,
  .pending-payment-table {
    width: 100%;
  }

  .pending-payment {
    margin: 0 20px 0 20px;
  }
}
