.Request-order-bg {
  background-image: url("../assets/images/requestLaundry_bg.png");
  background-size: cover;
  min-height: 110vh;
}

.request-order-main-container {
  background-image: url("../assets/images/confirmRequest_bg.png");
  background-size: cover;
  min-height: 110vh;
}

.request-order-main-container {
  margin-left: 40px;
}


.request-order-laudry-list-table {
  width: 60%;
  border-collapse: separate;
  border-spacing: 0 15px;
  margin-bottom: 20px;
}

.request-order-laudry-list-table td {
  height: 60px;
  color: #fff;
}

.request-order-laudry-list-table th,
.request-order-laudry-list-table td {
  border: none;
  padding-left: 20px;
  text-align: left;
}

/* Background color for all rows */
.request-order-laudry-list-table tr {
  background-color: #025a97;
  border-radius: 20px;
}

/* Apply border-radius to individual cells for visual rounded row effect */
.request-order-laudry-list-table tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.request-order-laudry-list-table tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Styling for table headings */
.request-order-laudry-list-table th {
  background-color: #fff;
  font-weight: bold;
}

/* Center align for the clickable arrow */
.request-order-laudry-list-table td:last-child {
  cursor: pointer;
  text-align: center;
}

.request-order-laudry-list-table td:last-child:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.request-order-search::placeholder {
  color: #000;
  opacity: 0.5;
  font-size: 14px;
  padding-left: 5px;
  font-style: italic;
}

.more-info-btn {
  width: 56px;
  padding: 0;
  color: #000;
  font-size: 30px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.laundry-details-view p {
  opacity: 0.6;
}

.laundry-details-view h2 {
  margin: 0;
  padding-top: 10px;
}

.request-order-main-container h2{
    margin: 0;
    padding: 20px 0 20px 0;
  }


.Request-Laundry-btn {
  padding: 5px;
  font-size: 15px;
  width: 110px;
}

.request-order-confirm-table {
  width: 71%;
}

.request-order-confirm-table tr {
  text-align: center;
}

.item-details table {
  width: 90%;
  margin-bottom: 20px;
}

.item-details h4 {
  font-style: italic;
  opacity: 0.5;
  margin: 0;
  text-align: start;
}

.item-details th {
  font-size: 12px;
  opacity: 0.8;
}

.item-details td {
  font-size: 14px;
  opacity: 0.8;
}

@media (max-width: 945px) {
  .request-order-laudry-list-table th,
  .request-order-laudry-list-table td {
    font-size: 14px;
    padding-left: 5px;
    text-align: left;
  }

  .request-order-laudry-list-table {
    width: 100%;
  }

  .request-order-main-container {
    margin: 0 10px 0 10px;
  }

  .request-order-confirm-table {
    width: 100%;
  }
}
